<div class="container">
	<h2>Cadastro de Cidades</h2>

  <button class="btn btn-primary"(click)="create()">Novo</button>

	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">CEP</th>
				<th scope="col">Cidade</th>
				<th scope="col">Estado</th>
				<th scope="col">População</th>
				<th scope="col">Opções</th>
			</tr>
		</thead>
	  <tbody>
		<tr *ngFor="let cidade of cidade">

        <td> <a [routerLink]="['/cidade', cidade.id]"> {{cidade.id}} </a></td>

				<th>{{cidade.cep}}</th>
				<td>{{cidade.cidade}}</td>
				<td>{{cidade.estado}}</td>
				<td>{{cidade.populacao}}</td>

				<td><button class="btn btn-danger" (click)="delete(cidade)">Remover</button></td>
		</tr>
	  </tbody>
	</table>

</div>

